:root {
  --text-color: #fff;
  --text-color-active: #ffe800;
  --text-color-good: #7bc549;
  --text-color-average: #e49a27;
  --text-color-poor: red;

  --outline-color: #636363;

  --horizontal-gap: 20px;
  --vertical-gap: 28px;

  --font:'Open Sans', 'Arial', sans-serif;
  --font-size: 16px;
  --font-size-smaller: 14px;
  --font-size-bigger: 20px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2');
}

html {
  background: #3B3B3B;
  display: flex;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font);
  justify-content: center;
  /* min-width: 1240px; */
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased
}

h2 {
  display: block;
  text-align: center;
  color: var(--text-color-average);
  margin-top: 0;
  border-top: 2px solid var(--text-color-average);
  padding-top: 20px;
}

h3 {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  /* max-width: 1240px; */
  /* padding: var(--vertical-gap) var(--horizontal-gap) 0; */
  width: 100%;
}

.hide-overflow {
  overflow: hidden;
}

a:link {
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.1s ease-in;
}

a:hover {
  opacity: 0.7;
}

button {
  cursor: pointer;
}

.logo {
  cursor: default;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
}

.logo--smaller {
  animation: none;
  font-size: var(--font-size);
  letter-spacing: normal;
}

.pristine-error {
  color: #ffe800;
  font-size: 12px;
}

.has-error input {
  border: 1px solid #ffe800 !important;
}

.active {
  background-color: #ffe800 !important;
  color: #000 !important;
  border-color: #000 !important;
}