.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
}

.header__logo {
    flex-grow: 0;
    flex-shrink: 0; 
    color: #fff;
}